
*.pdf

*.aux

*.fdb_latexmk

*.fls

*.log

report_dns/document.toc

report_dns/document.synctex.gz

report_dns/document.synctex.gz(busy)

report_dns/document.pdf

report_dns/document.pdf

report_dns/document.pdf
